 <!-- Page Content -->
 <div class="container">

  <!-- Introduction Row -->
  <h1 class="my-4">About Us
    <small>It's Nice to Meet You!</small>
  </h1>
  <p>
      <strong>Transport and Logistics CC (Mugwaleni Transport)</strong> is a family owned business which was
      founded by Mr. Ronard Mathevula in 2006. Mr. Mathevula started the business as an independent
      contractor with one truck. Within three years the business had grown, with two additional trucks being
      added to the fleet. Today twelve years after the start of the company, Mugwaleni Transport has a fleet
      of fifteen (15) trucks and a staff of 22 people.
  </p>

  <p>
      Our company provides an expedited, daily door to door trucking road haulage service throughout South
      Africa, hauling from one tonne up to thirty two (32) tonne loads. We support haulage that includes
      machinery, drums and industrial equipment etc, to and from all main hubs, warehouses and being
      forwarded to all outlying towns using all routes.
  </p>

  <h1>Mission</h1>
  <p>
      Mugwaleni Transport aims to provide transportation service that is safe, reliable and efficient by

      utilizing quality personnel and resources; offer cost effective environmentally friendly and problem-
      solving solution that assist our customers in achieving their objectives.
      
      A company that will boast of having some of the best and most reliable truck drivers in the whole
      nation
  </p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4">Our Team</h2>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff1.picture}} alt="">
      <h3>{{staff1.name}}<br>
        <small>{{staff1.role}}<br></small>
      </h3>
      <p>{{staff1.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff2.picture}} alt="">
      <h3>{{staff2.name}}<br>
        <small>{{staff2.role}}</small>
      </h3>
      <p>{{staff2.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff3.picture}}  alt="">
      <h3>{{staff3.name}}<br>
        <small>{{staff3.role}}</small>
      </h3>
      <p>{{staff3.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff4.picture}}  alt="">
      <h3>{{staff4.name}}<br>
        <small>{{staff4.role}}</small>
      </h3>
      <p>{{staff4.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff5.picture}}  alt="">
      <h3>{{staff5.name}}<br>
        <small>{{staff5.role}}</small>
      </h3>
      <p>{{staff5.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff6.picture}}  alt="">
      <h3>{{staff6.name}}<br>
        <small>{{staff6.role}}</small>
      </h3>
      <p>{{staff6.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff7.picture}}  alt="">
      <h3>{{staff7.name}}<br>
        <small>{{staff7.role}}</small>
      </h3>
      <p>{{staff7.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff8.picture}}  alt="">
      <h3>{{staff8.name}}<br>
        <small>{{staff8.role}}</small>
      </h3>
      <p>{{staff8.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff9.picture}}  alt="">
      <h3>{{staff9.name}}<br>
        <small>{{staff9.role}}</small>
      </h3>
      <p>{{staff9.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff10.picture}}  alt="">
      <h3>{{staff10.name}}<br>
        <small>{{staff10.role}}</small>
      </h3>
      <p>{{staff10.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff11.picture}}  alt="">
      <h3>{{staff11.name}}<br>
        <small>{{staff11.role}}</small>
      </h3>
      <p>{{staff11.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff12.picture}}  alt="">
      <h3>{{staff12.name}}<br>
        <small>{{staff12.role}}</small>
      </h3>
      <p>{{staff12.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff13.picture}}  alt="">
      <h3>{{staff13.name}}<br>
        <small>{{staff13.role}}</small>
      </h3>
      <p>{{staff13.description}}</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mb-4">
      <img class="rounded-circle img-fluid d-block mx-auto" src={{staff14.picture}}  alt="">
      <h3>{{staff14.name}}<br>
        <small>{{staff14.role}}</small>
      </h3>
      <p>{{staff14.description}}</p>
    </div>
  </div>

</div>
<!-- /.container -->