<!-- Header with Background Image -->
<header class="business-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="mapouter"><div class="gmap_canvas"><iframe width="800" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=-26.289255%2C%2028.181712&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net">crocothemes.net</a></div><style>.mapouter{text-align:right;height:400px;width:800px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:800px;}</style></div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-sm-8">
      <h2 class="mt-4">Office Hours</h2>
      <p>Monday - Friday</p>
      <p>08:00 - 16:00</p>
      <!--p>
        <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a>
      </p-->
    </div>
    <div class="col-sm-4">
      <h2 class="mt-4">Contact Us</h2>
      <address>
        <strong>13 cedex Facts Unit</strong>
        <br>(-26.289255, 28.181712)
        <br>Log Road
        <br>Rooderkop
        <br>Germiston, 1401
        <br>
      </address>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="./assets/images/Staff/khethiwe.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">Khethiwe Hlungwana</h4>
          <p class="card-text">
              Business Manager available to address any enquires on business operations.<br><br>
              <abbr title="Phone">P:</abbr>
              (+27)82 629-0801
              <br>
              <abbr title="Email">E:</abbr>
              <a href="mailto:khethiwe@mugwaleni.co.za"> khethiwe@mugwaleni.co.za</a>
          </p>
        </div>
        <!--div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div-->
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="./assets/images/Staff/Rhulani.jpeg" alt="">
        <div class="card-body">
          <h4 class="card-title">Rhulani Baloyi</h4>
          <p class="card-text">
            Business Clerk available to address administraction enquiries.<br><br>
            <abbr title="Phone">P:</abbr>
            (+27)79 353-7296
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:rhulani@mugwaleni.co.za"> rhulani@mugwaleni.co.za</a>
          </p>
        </div>
        <!--div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div-->
      </div>
    </div>
    <div class="col-sm-4 my-4">
      <div class="card">
        <img class="card-img-top" src="/assets/images/landline.jpg" alt="">
        <div class="card-body">
          <h4 class="card-title">Office Landline</h4>
          <p>
            Business Landline for your convenience.<br><br>
            <abbr title="Phone">P:</abbr>
            (+27)11 688-1134
            <br>
            <abbr title="Email">E:</abbr>
            <a href="mailto:info@mugwaleni.co.za"> info@mugwaleni.co.za</a>
          </p>
        </div>
        <!--div class="card-footer">
          <a href="#" class="btn btn-primary">Find Out More!</a>
        </div-->
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->