  <!-- Page Content -->
  <div class="container">

    <h1 class="my-4">Welcome to Mugwaleni Transport</h1>

    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header bg-primary">Values</h4>
          <div class="card-body">
            <p class="card-text">Mugwaleni Transport is a family ran business, as we grow, we remember where we are coming from and we always keep family values in mind. Our business core values are for us to be <strong>Dependable</strong>, <strong>Reliable</strong>, <strong>Honest</strong> and <strong>Effecient</strong> to our valued customers and partners. We treat every customer and our only customer because we believe and value you.</p>
          </div>
          <!--div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div-->
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header bg-primary">Vision</h4>
          <div class="card-body">
            <p class="card-text">Our Vision is to provide country wide accessibility. We want to give our customers more options to choose from that can meet their needs. During the process of growth, one thing will always remain the same to us, family values are at heart of it all.</p>
          </div>
          <!--div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div-->
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header bg-primary">Mission</h4>
          <div class="card-body">
            <p class="card-text">Our Mission is simple, to deliver to our customers safely and reliably as soon as possible.</p>
          </div>
          <!--div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
          </div-->
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <h2>Our Trucks</h2>

    <div class="row">
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track1.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>1 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable for people looking to relocate their furniture or want when the customer wants something less than 1 ton picked up.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track2.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>5 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable to pick up building materials or anything of the similar category. It can handle multiple products and it's just the right size to navigate in tight spaces.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track3.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>8 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable to pick up industrial materials or anything of the similar category. It can handle multiple products.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track4.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>12 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable to pick up industrial materials or anything of the similar category. It can handle multiple products.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track5.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>24 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable to pick up industrial materials or anything of the similar category. It can handle multiple products.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="./assets/images/Trucks/track6.jpg" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <strong>32 Ton</strong>
            </h4>
            <p class="card-text">This vehicle is suitable to pick up industrial materials or anything of the similar category. It can handle multiple products.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row" style="margin: 10px;">
      <div class="col-lg-6">
        <h2>Mugwaleni Transport Services</h2>
        <p>Here is what you can expect from us, our delivery transports range from 0 to 32 tons:</p>
        <ul>
          <li>Materials Handling</li>
          <li>Load Consolidation Services</li>
          <li>Receiving and dispatching of goods</li>
          <li>Local collections and deliveries to various warehouses for load consolidation</li>
          <li>Insurance on goods to the value of the declared invoices</li>
          <li>Dealing with and transporting hazardous goods</li>
        </ul>
        <p>This picture was taken in December 2017 when the company was having their end of year business party. The Staff and the Manager spotting their company shirt and caps to this event.</p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="./assets/images/Staff/cover.jpg" alt="">
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Section -->
    <div class="row mb-4">
      <div class="col-md-8">
        <p>If you have any enquiries or would like to find out more about our services or company, feel free to contact us, you are always welcome to do so.</p>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block bg-primary" routerLink = '/contact'>Contact Us</a>
      </div>
    </div>

  </div>
  <!-- /.container -->